header {
  position: fixed;
  width: 100%;
  height: var(--header-height-mobile);
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  background: white;
  z-index: 1000;
  // overflow: hidden;

  @media (min-width: var(--desktop-breakpoint)) {
    height: var(--header-height-desktop);
  }
}

.logo {
  width: var(--header-height-mobile);
  overflow: hidden;

  @media (min-width: var(--desktop-breakpoint)) {
    width: var(--header-height-desktop);
  }
}
.menu {
  width: var(--header-height-desktop);
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: var(--desktop-breakpoint)) {
    width: var(--header-height-mobile);
    border: 1px solid;
  }

  figure {
    width: 30%;
  }
}
