main {
  position: fixed;
  top: var(--header-height-mobile);
  height: calc(100vh - var(--header-height-mobile));
  overflow: hidden;

  @media (min-width: 50rem) {
    position: fixed;
    top: var(--header-height-desktop);
    height: calc(100vh - var(--header-height-desktop));
    overflow: hidden;
  }

  .home,
  .profiles {
    position: relative;
    // height: 100%;
    // background: green;
    // height: calc(100vh - 150px);
    height: calc(100vh - var(--header-height-mobile));
    // border: 1px solid red;
    // padding: 1rem 0;
    // padding-top: var(--header-height-mobile);

    @media (min-width: 50rem) {
      height: calc(100vh - var(--header-height-desktop));
      // padding-top: var(--header-height-desktop);

      // padding: 1rem 0;
    }
  }
}

.hero {
  // height: calc(100vh - 150px);
  display: grid;
  height: calc(100vh - var(--header-height-desktop));
  gap: 0.5rem;

  @media (min-width: 50rem) {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 5rem;
    // border: 1px solid green;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    p.highlight {
      font-size: 2.4rem;
      color: black;
      @media (min-width: 50rem) {
        font-size: 4rem;
      }
    }
    p {
      font-size: 1.2rem;
      color: gray;

      @media (min-width: 50rem) {
        font-size: 1.5rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: auto;

    .highlight {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 1rem;

      @media (min-width: 50rem) {
        font-size: 1.2rem;
      }
    }
    p {
      margin-bottom: 1rem;
    }
  }
}

.profiles {
  // border: 1px solid red;
  // height: calc(100vh - var(--header-height-mobile));
  // height: 100vh;

  display: grid;
  overflow-y: scroll;

  @media (max-width: 50rem) {
    grid-auto-flow: row;
    grid-template-rows: 20% 80%;
  }

  @media (min-width: 50rem) {
    height: calc(100vh - var(--header-height-desktop));
    grid-auto-flow: column;
    grid-template-columns: 30% 70%;

    // justify-content: center;
    // align-items: flex-start;
    // gap: 2rem;
    // padding: 2rem;
  }

  &__main {
    background: white;
    overflow: hidden;
  }

  &__container {
    // background: yellow;
    display: flex;
    height: 100%;

    // padding: 10rem;
    // overflow: hidden;
  }

  .profile {
    // border: 1px solid gray;
    // height: 100%;
    display: flex;
    width: 100%;
    flex: 1 0 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;

    @media (min-width: 50rem) {
      padding: 5rem;
      // padding: 10rem;
      // width: 80%;
    }

    p.highlight {
      font-weight: bold;
      font-size: 1.5rem;
      // color: gray;
    }
    p {
      margin-bottom: 1rem;
    }
  }
}
