blockquote {
  .highlight {
    position: relative;
    &::before {
      font-family: "Sorts Mill Goudy", serif;
      content: "“";
      font-size: 9rem;
      position: absolute;
      left: -1.5rem;
      top: -1rem;
    }
  }

  .subtle {
    position: relative;

    &::after {
      content: "”";
      font-family: "Sorts Mill Goudy", serif;
      font-size: 9rem;
      position: absolute;
      right: -0.5rem;
      color: black;
    }
  }
}
